<p align=center>Importamos las librerías necesarias.</p>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import json, ast

<p align=center>Abrimos el archivo <a href="./data/output_steam_games.json">"output_games.json"</a></p>

In [2]:
# Creamos una lista que contendrá las líneas leídas del json
rows = []
# Declaramos la dirección relativa del archivo que abrimos
archive = "./data/output_steam_games.json"
# Utilizamos el atributo open para acceder al contenido del json
with open(archive) as f:
    # Creamos un bucle que itere en cada línea del json
    for line in f.readlines():
        # Agregamos a la lista inicial la línea leída con json.loads()
        rows.append(json.loads(line))

# Creamos un dataframe con la lista con los juegos
df = pd.DataFrame(rows)
# Mostramos la cabecera del dataframe
df.head()

In [ ]:
# Veamos las líneas finales del dataframe
df.tail()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,False,773640,NaN,"Nikita ""Ghost_RUS""",NaN,NaN,NaN,NaN
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,NaN,Sacada,NaN,NaN,NaN,NaN
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,NaN,Laush Dmitriy Sergeevich,NaN,NaN,NaN,NaN
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,NaN,"xropi,stev3ns",NaN,NaN,NaN,NaN
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN,NaN,NaN,NaN,NaN,NaN

<p align=center>Podemos observar que en el <em>dataframe</em> de los juegos también está incluidos otra información. Como son las reviews.</p>
<p align=center>Lo segmentamos de la siguiente manera:</p>

In [ ]:
# Definimos el df_items con el subconjunto de los datos que no tenga datos nulos en la columna 'steam_id'
df_items = df[df['steam_id'].notna()]

In [ ]:
# Lo exportamos a un archivo json, a la carpeta 'processed_json'
df_items.to_json("./data/processed_json/processed_items.json")

In [ ]:
# Vemos su tamaño
df_items.shape

(88310, 19)

In [ ]:
# Vemos cuantos nulos contiene cada columna del dataframe
df_items.isna().sum()

publisher         88310
genres            88310
app_name          88310
title             88310
url               88310
release_date      88310
tags              88310
reviews_url       88310
discount_price    88310
specs             88310
price             88310
early_access      88310
id                88310
metascore         88310
developer         88310
user_id               0
steam_id              0
items                 0
items_count           0
dtype: int64

In [ ]:
# Definimos el dataframe como el subconjunto de los datos que solamente pertenece a las columnas 'user_id', 'steam_id', 'items' y 'items_count'.
df_items_2 = df_items[['user_id', 'steam_id', 'items', 'items_count']]

In [ ]:
# Vemos la longitud de elementos que existen en la columna 'items' en el dataframe
len(df_items_2['items'])

88310

<p align=center>Segmentemos, ahora, los datos de los juegos.</p>

In [ ]:
# Definimos el subconjuto de los datos donde el dato de la columna 'steam_id' sea un valor nulo. Al contrario de como obtuvimos el subconjunto de items.
df_games = df[df['steam_id'].isna()]

In [ ]:
# Eliminamos las columnas que pertenecen a los items
df_games = df_games.drop(columns= ['user_id', 'steam_id', 'items', 'items_count'])

In [ ]:
# Vemos la cabecera del dataframe de juegos
df_games.head()

NameError: name 'df_games' is not defined

In [ ]:
# Vemos de forma visual la cantidad de nulos que contiene este dataframe.
df_games.isna().sum()

publisher          8052
genres             3283
app_name              2
title              2050
url                   0
release_date       2067
tags                163
reviews_url           2
discount_price    31910
specs               670
price              1377
early_access          0
id                    2
metascore         29458
developer          3299
dtype: int64

In [ ]:
# Observamos el tipo de dato del cual es la columna 'genres'
type(df_games['genres'][120443])

list

In [ ]:
# Exportamos los datos en formato json
df_games.to_json("./data/processed_json/processed_games.json")

<p align=center>Desanidemos los datos del dataframe de items:</p>

In [ ]:
# Vemos la cabecera del dataframe
df_items_2.head()

,user_id,steam_id,items,items_count
0,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0

In [ ]:
# Declaramos una lista vacía que contendrá los datos desaninados
items = []

# Iteramos dentro de las columnas del dataframe con el bucle for:
for line in df_items_2[['items', 'user_id', 'steam_id']].values:
    # Verificamos que, solamente cuando la cantidad de items de dentro de la lista no sea 0
    if len(line) != 0:
        # Iteramos cada item dentro de la lista de items de cada usuario
        for item in line[0]:
            # Copiamos el diccionario con otro nombre para no modificar el dato original
            dicc = item
            # Definimos que exista dentro del diccionario la clave 'user_id' que contenga el user_id que está en el principio del dataframe
            dicc["user_id"] = line[1]
            # Definimos que exista la clave "steam_id" con el id de steam del usuario que utiliza el item.
            dicc["steam_id"] = line[2]

    # Definimos que agregue el diccionario a la lista que inicializamos anteriormente
            items.append(dicc)
            
# Vemos el dataframe con los items desanidados
pd.DataFrame(items)

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,steam_id
0,10,Counter-Strike,6,0,76561197970982479,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479,76561197970982479
...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,76561198329548331
5153205,373330,All Is Dust,0,0,76561198329548331,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,76561198329548331
5153208,519140,Minds Eyes,3,3,76561198329548331,76561198329548331

In [ ]:
# Definimos el dataframe de los items desanidados
df_items_processed = pd.DataFrame(items)

In [ ]:
# Vemos la cabecera
df_items_processed.head()

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,steam_id
0,10,Counter-Strike,6,0,76561197970982479,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479,76561197970982479

In [ ]:
# Lo exportamos en formato json
df_items_processed.to_json("./data/processed_json/items_desanidados.json")

<p align=center>Abrimos el archivo "<a href="./data/australian_user_reviews.json"><em>australian_user_reviews.json</em></a>"</p>

In [ ]:
# Iniciamos una lista vacía
rows_2 = []
# Declaramos la dirección del archivo
reviews = "./data/australian_user_reviews.json"
# Abrimos el archivo con el encoding 'utf-8'
with open(reviews, 'r', encoding= 'utf-8') as j:
    # Vemos cada línea del json
    for line_r in j.readlines():
        # Agregamos a la lista inicial la evaluación literal del la línea del json
        rows_2.append(ast.literal_eval(line_r))

In [ ]:
# Creamos un dataframe con los datos de las reviews
df_reviews = pd.DataFrame(rows_2)
# Vemos el dataframe
pd.DataFrame(rows_2)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

<p align=center>De la misma forma que dasanidamos los items, utilizando la misma estructura, conseguimos desanidar las reviews.</p>

In [ ]:
reviews_process = [] # Iniciamos una lista vacía

for line in df_reviews.values: # Iteramos en cada dato del dataframe
    for review in line[2]: # Iteramos dentro de la lista de reviews que hace cada usuario
        dicc = review # Copiamos el diccionario con la información
        # Creamos la clave con el nombre y la url del usuario en el diccionario
        dicc["user_id"] = line[0]
        dicc["user_url"] = line[1]

        reviews_process.append(dicc) # Lo agregamos a la lista inicial

In [ ]:
# Creamos el dataset con las reviews desanidadas
df_reviews_processed = pd.DataFrame(reviews_process)

In [ ]:
# Exportamos en formato json las reviews desanidadas
df_reviews_processed.to_json("./data/processed_json/reviews_desanidados.json")

In [ ]:
df_reviews.to_json("./data/processed_json/processed_reviews.json") # Exportamos la data anidada en caso de ser necesaria para las funciones.

<p align=center><strong>Aclaración:</strong> En caso de que los archivos que en este notebook se exportan, no se encuentren en el repositorio final; se informará en el proceso la inutilidad de su exitencia en el repositorio. Revise todo el proceso de este proyecto.</p>
<p align=center><strong>25/09/2023</strong></p>

<p align=center>Dado que GitHub LFS no soporta archivos del tamaño de '<a href="./data/processed_json/items_desanidados.json">items_desanidados.json</a>', hagamos algunos cambios para poder subirlos correctamente:</p>

In [1]:
import pandas as pd
import json

In [2]:
df_items_desanidados = pd.read_json("./data/processed_json/items_desanidados.json")

In [3]:
df_items_desanidados.shape

(5153209, 6)

In [11]:
type(df_items_desanidados.head(1))

pandas.core.frame.DataFrame